* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.digitBtn,
.operatorBtn,
.miscBtn,
.equalBtn {
    width: 80px;
    height: 40px;
    font-size: 16px;
    border: 1.5px solid rgb(35, 35, 35);
    border-radius: 5px;
}

.digitBtn {
    background-color: rgb(89, 88, 88);
    color: white;
}

.operatorBtn {
    background-color: rgb(72, 139, 117);
    color: white;
}

.equalBtn {
    background-color: rgb(92, 174, 137);
    color: white;
}

.miscBtn {
    background-color: rgb(140, 140, 140);
    color: white;
}

.buttons {
    display: flex;
    flex-flow: row wrap;

}

.mainButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 240px;
}

.operations {
    display: flex;
    flex-direction: column;
}

#calculator {
    width: 325px;
    background-color: rgb(55, 55, 55);
    border: 3px solid rgb(35, 35, 35);
    border-radius: 5px;
}

.display {
    width: 320px;
    height: 100px;
    display: flex;
    background-color: rgb(193, 193, 193);
    font-size: 42px;
    align-items: end;
    justify-content: end;
    padding: 0 10px 2px 0;
    color: rgb(35, 35, 35);
}